html,
body {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  margin: 0;
}

.container-custom {
  padding: 30px 20px;
}

.splide {
  margin: 0;
}

.splide__pagination {
  bottom: -1.5em !important;
  position: relative !important;
}


.w-100 {
  width: 100px;
}

.p-100 {
  padding: 100px;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.bg-gray {
  background-color: #f0eff1;
}

.bg-blue {
  background-color: #005DFE !important;
}

.color-primary {
  color: #005DFE !important;
}

.color-secondary {
  color: #Fefefe !important;
}

.navbar {
  height: 90px;
  background-color: #005DFE !important;
}

.active {
  border-bottom: #fff solid 5px;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  margin: 0 auto;
  padding: 30px 15px 50px 15px;
}

.hero-image-container {
  height: 650px;
  width: auto;
  z-index: 1;
}

.hero-image-container img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.hero-info-container {
  max-width: 663px;
  z-index: 1;
}

.hero-content {
  margin-bottom: 44px;
  z-index: 1;
}

.hero-title {
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 40px;
  /* identical to box height, or 100% */
  letter-spacing: -2px;
  /* color: #005DFE; */
  color: #fff;
}

h1.hero-title {
  margin-top: 15px;
}

.hero-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */

  letter-spacing: -0.02em;
  /* color: #005DFE; */
  margin-top: 10px;
  color: #fefefe;
}

.hero-subtitle {
  display: flex;
  justify-content: flex-start;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  letter-spacing: 0.025em;
  text-transform: uppercase;

  color: #fff;
  /* color: #005DFE; */

  margin-bottom: 10px;
}

.hero-icons-container {
  display: flex;
  flex-direction: column;
}

.hero-icons {
  display: flex;
  align-items: flex-start;
}

.diferentials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.diferentials .diferentials-info {
  text-align: center;
}

.diferentials .diferentials-info .diferentials-title {
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 40px;
  /* identical to box height, or 111% */

  text-align: center;

  color: #005DFE;
}

.diferentials .diferentials-info .diferentials-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.diferentials-cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 0px;
  gap: 32px;
  row-gap: 84px;
}

.diferentials-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
}

.card-content {
  display: flex;
  flex-direction: column;
}

.card-title {
  margin-bottom: 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  /* identical to box height, or 100% */

  color: #005DFE;
}

.map {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

.map .background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.map .container .mobile-map img {
  border-radius: 10px;
}

.map .map-info {
  position: relative;
  background-color: #fefefe;
  padding: 46px 32px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: #000;
  border-radius: 15px;
  z-index: 2;
  -webkit-box-shadow: 1px 4px 12px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 4px 12px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 4px 12px -1px rgba(0, 0, 0, 0.75);
}

.map-title {
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 32px;
  color: #005DFE;
}

.map-subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.map-text {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 16px;
  margin: 0 auto 48px auto;
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 36px;

  color: #005DFE;
}

.text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

  color: #005DFE;
}

.services-card {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.services-card img {
  width: auto;
  height: 256px;
  border-radius: 6px;
}

.services-info {
  width: 90%;
  margin: -130px auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-content: center;
  padding: 24px;
  gap: 12px;
  border-radius: 6px;
  background: #005DFE;
  z-index: 1;
  position: relative;
}

.services-title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  /* identical to box height, or 100% */

  text-align: center;
  text-transform: capitalize;

  color: #005DFE;
}

.services-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  /* or 21px */

  text-align: center;

}

.clients .text {
  color: #000;
}

@media only screen and (max-width: 600px) {

  .hide-on-small-only,
  .hide-on-small-and-down {
    display: none !important;
  }
}

@media only screen and (max-width: 992px) {

  .hide-on-med-and-down {
    display: none !important;
  }
}

@media only screen and (min-width: 992px) {

  .hide-on-med-and-up {
    display: none !important;
  }
}

@media (min-width: 992px) {
  .container-custom {
    padding: 100px 80px;
  }

  .hero-content {
    z-index: 1;
  }

  .hero-icons {
    display: flex;
    justify-content: flex-start;
    gap: 16px;
  }

  .hero-title {
    font-size: 60px;
    line-height: 60px;
  }

  .hero-subtitle {
    justify-content: flex-end;
  }

  .info {
    max-width: 70%;
  }

  .services-info {
    width: 70%;
    margin: -70px auto 0 auto;
  }


  .diferentials-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 0px;
    gap: 32px;
    row-gap: 84px;
  }
}

.solution_card {
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2),
    0 5px 15px 0 rgba(37, 44, 97, 0.15);
  border-radius: 15px;
  padding: 10px 15px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: 95%;
  transition: 0.7s;
  margin: 10px 0;
}

.solution_card:hover {
  background: #309df0;
  color: #fff;
  z-index: 9;
}

.solution_card:hover::before {
  background: rgb(85 108 214 / 10%);
}

.solution_card:hover .solu_title h3,
.solution_card:hover .solu_description p {
  color: #fff;
}

.solution_card:before {
  content: "";
  position: absolute;
  background: rgb(85 108 214 / 5%);
  width: 170px;
  height: 400px;
  z-index: -1;
  transform: rotate(42deg);
  right: -56px;
  top: -23px;
  border-radius: 35px;
}

.solution_card:hover .solu_description button {
  background: #fff !important;
  color: #309df0;
}

.solution_card .solu_title h3 {
  color: #005DFE;
  font-size: 1.3rem;
  margin-top: 13px;
  margin-bottom: 13px;
}

.solution_card .solu_description p {
  font-size: 15px;
  margin-bottom: 15px;
}

.solution_card .solu_description button {
  border: 0;
  border-radius: 15px;
  background: linear-gradient(140deg,
      #42c3ca 0%,
      #42c3ca 50%,
      #42c3cac7 75%) !important;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  padding: 5px 16px;
}

.our_solution_content h1 {
  text-transform: capitalize;
  margin-bottom: 1rem;
  font-size: 2.5rem;
}


.hover_color_bubble {
  position: absolute;
  background: rgb(54 81 207 / 15%);
  width: 100rem;
  height: 100rem;
  left: 0;
  right: 0;
  z-index: -1;
  top: 16rem;
  border-radius: 50%;
  transform: rotate(-36deg);
  left: -18rem;
  transition: 0.7s;
}


.hero {
  background: #fff;
  /* box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2),
    0 5px 15px 0 rgba(37, 44, 97, 0.15); */
  padding: 10px 15px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: 95%;
  transition: 0.7s;
  margin: 10px 0;
}

.hero:before {
  content: "";
  position: absolute;
  background: rgb(24, 60, 219);
  width: 170px;
  height: 400px;
  z-index: -1;
  transform: rotate(42deg);
  right: -56px;
  top: -23px;
  border-radius: 35px;
}

.hero .hover_color_bubble {
  position: absolute;
  background: rgb(45, 124, 228);
  width: 100rem;
  height: 117rem;
  /* left: 10px; */
  /* right: 0; */
  z-index: -1;
  top: 16rem;
  border-radius: 30%;
  transform: rotate(-36deg);
  left: 55rem;
  transition: 0.7s;
}

.hero .hover_color_form {
  content: "";
  position: absolute;
  background: rgb(45, 124, 228);
  width: 100rem;
  height: 100rem;
  left: 10px;
  right: 0;
  z-index: -1;
  top: 16rem;
  border-radius: 30%;
  transform: rotate(-36deg);
  left: 55rem;
  transition: 0.7s;
}

/* .hero:hover .hover_color_bubble {
  top: 0rem;
} */

.solution_card:hover .hover_color_bubble {
  top: 0rem;
}

.solution_card .so_top_icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.solution_card .so_top_icon img {
  width: 80%;
  height: 100%;
  object-fit: contain;
}

/*start media query*/
@media screen and (min-width: 320px) {

  .our_solution_category {
    width: 100%;
    margin: 0 auto;
  }

  .our_solution_category {
    flex: auto;
  }
}

/* ==========================================================================
   Contact index2 version section
   ========================================================================== */
#contact2 {
  background: #f2f4f8;
}

form#contactForm .form-group {
  margin-bottom: 30px;
}

form#contactForm input[type=text],
form#contactForm input[type=email] {
  min-height: 52px;
  padding: 0px 0 0 28px;
  font-size: 16px;
  color: #5e629c;
}

form#contactForm textarea {
  padding: 15px 0 0 28px;
  font-size: 16px;
  color: #5e629c;
}

form#contactForm .form-control:focus {
  border: 1px solid #000000;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #ffe2db;
}

.submit-button .btn-common {
  cursor: pointer;
  background-color: #000000;
  height: 45px;
  /* padding: 12px 40px; */
  width: 50%;
  color: #fff;
}

.submit-button .btn-common:hover {
  background-color: #309df0;
}