body {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  margin: 0;
}

.container {
  padding: 100px 80px;
}

.splide {
  margin: 0;
}

.w-100 {
  width: 100px;
}

.p-100 {
  padding: 100px;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.bg-gray {
  background-color: #f0eff1;
}

.navbar {
  display: flex;
  flex-direction: row;
  height: 90px;
  background-color: #0060a2;
  align-items: center;
  justify-content: space-between;
  padding: 0 150px;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.navbar .navigation {
  display: flex;
  flex-direction: row;
  list-style: none;
  text-decoration: none;
  margin: 0 calc(90vw / 5);
  height: 90px;
}

.navbar .navigation .nav-item-link {
  background-color: #0060a2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 20px;
  color: antiquewhite;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.navbar .navigation .nav-item-link:hover {
  transition-duration: 0.3s;
  border-bottom: #fff solid 5px;
}

.active {
  border-bottom: #fff solid 5px;
}

#box {
  width: 100vw;
  height: 100vh;
  background-color: #f0eff1;
  position: absolute;
}

.box:after {
  content: " ";
  border-top: 70vh solid #0060a2;
  border-right: 130vw solid transparent;
  width: 0;
  position: absolute;
  /* opacity: 0.7; */
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  padding-right: 0;
  padding-left: 80px;
  padding-top: 150px;
}

.hero-image-container {
  height: 650px;
  width: auto;
  z-index: 1;
}

.hero-image-container img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.hero-info-container {
  max-width: 663px;
  z-index: 1;
}

.hero-content {
  margin-bottom: 128px;
  z-index: 1;
}

.hero-title {
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 60px;
  /* identical to box height, or 100% */

  letter-spacing: -2px;
  /* color: #0060a2; */
  color: #fff;

  margin: 0 0 20px 0;
}

.hero-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */

  letter-spacing: -0.02em;

  color: #fefefe;
}

.hero-subtitle {
  display: flex;
  justify-content: flex-end;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  letter-spacing: 0.025em;
  text-transform: uppercase;

  /* color: #0060a2; */
  color: #0060a2;

  margin: 0;
}

.hero-icons-container {
  display: flex;
  flex-direction: column;
}

.hero-icons {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

.diferentials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.diferentials .diferentials-info {
  text-align: center;
  margin-bottom: 84px;
}

.diferentials .diferentials-info .diferentials-title {
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 40px;
  /* identical to box height, or 111% */

  text-align: center;

  color: #0060a2;
}

.diferentials .diferentials-info .diferentials-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.diferentials-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 0px;
  gap: 32px;
  row-gap: 84px;
}

.diferentials-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
}

.card-image {
  height: 100%;
  width: 150px;
}

.card-image img {
  height: 100%;
  width: 150px;
}

.card-content {
  display: flex;
  flex-direction: column;
}

.card-title {
  margin-bottom: 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  /* identical to box height, or 100% */

  color: #0060a2;
}

.map {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.map-box {
  width: 55%;
}

.map-info {
  background-color: #0060a2;
  margin-left: -45px;
  width: 45%;
  padding: 46px 32px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: #ffffff;
  border-radius: 15px;
}

.map-title {
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 40px;
}

.map-subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
}

.map-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 16px;
  max-width: 70%;
  margin: 0 auto 48px auto;
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 36px;

  color: #0060a2;
}

.text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

  color: #0060a2;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.services-card {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.services-card img {
  width: auto;
  height: 256px;
  border-radius: 6px;
}

.services-info {
  width: 70%;
  margin: -70px auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-content: center;
  padding: 24px;
  gap: 12px;
  border-radius: 6px;
  background: #0060a2;
  z-index: 1;
  position: relative;
}

.services-title {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height, or 100% */

  text-align: center;
  text-transform: capitalize;

  color: #fff;
}

.services-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  /* or 21px */

  text-align: center;

  color: #fff;
}

@media (max-width: 992px) {
  .diferentials-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .services-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }
}

@media (max-width: 640px) {
  .hero {
    padding-top: 150px !important;
  }
  .diferentials-cards {
    grid-template-columns: 1fr;
  }

  .hero-image-container {
    display: none;
  }

  .hero-icons {
    gap: 16px;
  }

  .hero-icons img {
    width: 100%;
  }

  .services-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
  }

  .services-card {
    max-width: 350px;
  }

  .services-card img {
    width: auto;
    height: 230px;
  }

  .services-info {
    width: 50%;
    margin: -70px auto 0 60px;
  }
  .container {
    padding: 50px 15px;
  }

  .splide__slide img {
    width: 70px;
  }
}
