body {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  margin: 0;
}

.container-custom {
  padding: 30px 20px;
}

.splide {
  margin: 0;
}

.splide__pagination {
  bottom: -1.5em !important;
  position: relative !important;
}


.w-100 {
  width: 100px;
}

.p-100 {
  padding: 100px;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.bg-gray {
  background-color: #f0eff1;
}

.bg-blue {
  background-color: #005DFE !important;
}

.color-primary {
  color: #005DFE !important;
}

.color-secondary {
  color: #Fefefe !important;
}

.navbar {
  height: 90px;
  background-color: #005DFE !important;
}

.active {
  border-bottom: #fff solid 5px;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  margin: 0 auto;
  padding: 90px 15px 30px 15px;
}

.hero-image-container {
  height: 650px;
  width: auto;
  z-index: 1;
}

.hero-image-container img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.hero-info-container {
  max-width: 663px;
  z-index: 1;
}

.hero-content {
  margin-bottom: 44px;
  z-index: 1;
}

.hero-title {
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 40px;
  /* identical to box height, or 100% */
  letter-spacing: -2px;
  color: #005DFE;
  /* color: #fff; */
}

h1.hero-title {
  margin-top: 15px;
}

.hero-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */

  letter-spacing: -0.02em;
  color: #005DFE;
  margin-top: 10px
    /* color: #fefefe; */
}

.hero-subtitle {
  display: flex;
  justify-content: flex-start;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  letter-spacing: 0.025em;
  text-transform: uppercase;

  /* color: #005DFE; */
  color: #005DFE;

  margin-bottom: 10px;
}

.hero-icons-container {
  display: flex;
  flex-direction: column;
}

.hero-icons {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 16px;
}

.diferentials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.diferentials .diferentials-info {
  text-align: center;
  margin-bottom: 84px;
}

.diferentials .diferentials-info .diferentials-title {
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 40px;
  /* identical to box height, or 111% */

  text-align: center;

  color: #005DFE;
}

.diferentials .diferentials-info .diferentials-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.diferentials-cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 0px;
  gap: 32px;
  row-gap: 84px;
}

.diferentials-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
}

.card-content {
  display: flex;
  flex-direction: column;
}

.card-title {
  margin-bottom: 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  /* identical to box height, or 100% */

  color: #005DFE;
}

.map {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

.map .background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.map .container .mobile-map img {
  border-radius: 10px;
}

.map .map-info {
  position: relative;
  background-color: #005DFE;
  padding: 46px 32px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: #ffffff;
  border-radius: 15px;
  z-index: 2;
}

.map-title {
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 32px;
}

.map-subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.map-text {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 16px;
  margin: 0 auto 48px auto;
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 36px;

  color: #005DFE;
}

.text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

  color: #005DFE;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.services-card {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.services-card img {
  width: auto;
  height: 256px;
  border-radius: 6px;
}

.services-info {
  width: 90%;
  margin: -130px auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-content: center;
  padding: 24px;
  gap: 12px;
  border-radius: 6px;
  background: #005DFE;
  z-index: 1;
  position: relative;
}

.services-title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  /* identical to box height, or 100% */

  text-align: center;
  text-transform: capitalize;

  color: #fff;
}

.services-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  /* or 21px */

  text-align: center;

  color: #fff;
}

@media only screen and (max-width: 600px) {

  .hide-on-small-only,
  .hide-on-small-and-down {
    display: none !important;
  }
}

@media only screen and (max-width: 992px) {

  .hide-on-med-and-down {
    display: none !important;
  }
}

@media only screen and (min-width: 992px) {

  .hide-on-med-and-up {
    display: none !important;
  }
}

@media (min-width: 992px) {
  .container-custom {
    padding: 100px 80px;
  }

  .hero-content {
    margin-bottom: 128px;
    z-index: 1;
  }

  .hero-icons {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
  }

  .hero-title {
    font-size: 60px;
    line-height: 60px;
  }

  .hero-subtitle {
    justify-content: flex-end;
  }

  .info {
    max-width: 70%;
  }

  .services-info {
    width: 70%;
    margin: -70px auto 0 auto;
  }


  .diferentials-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 0px;
    gap: 32px;
    row-gap: 84px;
  }
}